<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meadwolark Travel</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
   <div class="container">
        <header class="d-flex align-items-center w-100 bg-warning p-2 gap-1">
            <img src="/images/logo.jfif" alt="">
            <h1 class="text-center">MEADWOLARK TRAVEL</h1>
        </header>


        {{{body}}}


   </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>