
<div class="row text-center text-danger">
    <h1 class="display-1">Error 404</h1>
    <h1 class="text-warning">Oops! Page Not Found</h1>
    <div class="jumbotron text-center mt-3">
        <a href="/" class="btn btn-outline-secondary w-25">Back Home</a>
    </div>
</div>